@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

.Error {
   font-family: 'Poiret One', cursive;
   text-align: center;
   color: rgb(253, 72, 72);
   margin: 20px 0;
}